<div class="navbar bg-base-100">
    <div class="flex-1">
      <h1><a href="/" class="btn btn-ghost normal-case text-xl">Lego Collection</a></h1>
    </div>
  
    <div class="navbar-center hidden sm:flex"></div>
      <ul class="menu menu-horizontal px-1">
        <li><a class="<%= (page == "/lego/sets") ? 'active' : '' %>" href="/lego/sets">View Collection</a></li>       
        <li><a class="<%= (page == "/lego/addSet") ? 'active' : '' %>" href="/lego/addSet">Add to Collection</a></li>
        <li><a class="<%= (page == '/about') ? 'active' : '' %>" href="/about">About</a></li>
      </ul>
    </div>
</div>
