<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lego Collection</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!-- navbar -->
    <div class="navbar bg-base-100">
        <div class="flex-1">
          <h1><a href="/" class="btn btn-ghost normal-case text-xl">Lego Collection</a></h1>
        </div>
      
        <div class="navbar-center hidden sm:flex"></div>
          <ul class="menu menu-horizontal px-1">
            <li>
                <a href="/about">About</a>
            </li>
            <li>
              <details>
                <!-- dropdown -->
                <summary>Theme</summary> 
                <ul class="p-2 bg-base-100 right-0">
                    <!-- modify the path -->
                  <li><a href="/lego/sets?theme=Technic">Technic</a></li>
                  <li><a href="/lego/sets?theme=Classic Town">Classic Town</a></li>
                  <li><a href="/lego/sets?theme=Supplemental">Supplemental</a></li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
    </div>

    <!-- hero section -->
    <div class="container mx-auto mt-8">
        <div class="hero py-20 text-center">
            <div class="content-wrapper">
                <p class="text-3xl font-bold mb-4">Explore our Lego collection!</p>
                <a href="/lego/sets" class="btn">View Lego Sets</a>
            </div>
        </div>
    </div>    
    <style>
        .content-wrapper {
            margin-bottom: 20px; 
        }
    </style>
    
    <!-- gird system -->
    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
           <!-- Card 1 -->
            <div class="card bg-base-100 shadow-xl">
                <figure>
                    <img class="w-full" src="https://cdn.rebrickable.com/media/sets/001-1.jpg" alt="Lego set" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Gears</h2>
                    <p>This set was released in America (USA/CAN) by Samsonite in 1965.It was re-released in 1969 as an educational set (322-4). It was never released in Europe.</p>
                    <div class="card-actions justify-end">
                        <a href="/lego/sets" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="card bg-base-100 shadow-xl">
                <figure>
                    <img class="w-full" src="https://cdn.rebrickable.com/media/sets/0011-2.jpg" alt="Lego set" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Classic Town</h2>
                    <p>It was released in 1979.</p>
                    <div class="card-actions justify-end">
                        <a href="/lego/sets/001-1" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="card bg-base-100 shadow-xl">
                <figure>
                    <img class="w-full" src="https://cdn.rebrickable.com/media/sets/0015-1.jpg" alt="Lego set" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">Supplemental</h2>
                    <p>It was released in 1979.</p>
                    <div class="card-actions justify-end">
                        <a href="/lego/sets/001-1" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>